<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.essalud.apps.repository.miessalud.sqlmap.InscripcionMyRepository">

    <select id="getUsuariosInscritos" resultType="UsuariosInscritosResponseDto">
        SELECT 	i.id_usuario 					idUsuario,
                u.numero_documento 				numeroDocumento,
                u.apellidos || ' ' || u.nombres nombreCompleto,
                u.regimen,
                u.numero_celular 				numeroCelular,
                u.correo,
                i.estado_activo					estadoActivo,
                i.fecha_inscripcion				fechaInscripcion
        FROM inscripcion_persona i
        INNER JOIN usuario u ON u.id_usuario = i.id_usuario
        WHERE i.id_inscripcion = #{idInscripcion}
    </select>

</mapper>