<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.essalud.apps.repository.miessalud.sqlmap.UsuarioMyRepository">

    <select id="findById" resultType="UsuarioResponse">
        SELECT us.id_usuario        idUsuario,
               us.numero_documento  numeroDocumento,
               us.codigo_planilla   codigoPlanilla,
               us.nombres,
               us.apellidos,
               us.fecha_nacimiento  fechaNacimiento,
               us.numero_celular    numeroCelular,
               us.correo,
               us.id_rol            idRol,
               us.id_estado_usuario idEstado,
               --us.id_ubigeo         idUbigeo,
               --us.direccion,
               --us.numero_telefono   numeroTelefono,
               eu.descripcion       estado

        FROM usuario us
                 INNER JOIN estado_usuario eu on us.id_estado_usuario = eu.id_estado_usuario
        WHERE us.es_activo = true AND us.id_usuario = #{id}
    </select>

</mapper>